body {
    font-family: Arial, sans-serif;
    background-color: #d0847e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #app {
    width: 400px;
    background: #78a25e;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  #category-selection, #quiz-container {
    margin-top: 20px;
  }
  
  #mic-indicator {
    font-size: 24px;
    color: green;
    display: none;
  }
  
  #score {
    font-weight: bold;
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
  }
  